body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) repeat;
}
#wrapper {
  width: 2000px;
  margin: 20px auto;
  text-shadow: 2px 2px #ff0000;
}
/* Making the stuff in H1 red*/
h1, h2, h3 {
	color:red;
}
h4 {
color : orange;
}
#great{
	color:purple;
	font-style: 
}
.unicorn {
	color:green;
}
img{
	width: 200px;
	border: 25px solid purple;
}

